*{
  margin: 0;
  padding: 0;
}
body{
  box-sizing: border-box;
}
/* HEADER */
.header {
  display: flex;
  background: #232536;
  width: 100%;
  height: 80px;
}
.header-logo {
  padding-left: 80px;
  margin-top: auto;
  margin-bottom: auto;
}
.nav {
  margin-left: auto;
  margin-right: 32px;
  margin-top: auto;
  margin-bottom: auto;
}
.list {
  display: flex;
  list-style-type: none;
}
.list-li {
  margin-right: 24px;
}
.list-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
}
.header-button {
  width: 179px;
  height: 56px;
  background: #fff;
  margin-right: 80px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-subscribe {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #232536;
  text-decoration: none;
}
/* HEADER */

/* HOME */
.home {
  width: 100%;
  height: 519px;
  background: #F4F0F8;
}
.home-content{
  display: flex;
  justify-content: center;
}
.home-left {
  width: 624px;
  height: 332px;
  padding-top: 94px;
}
.left-header p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3px;
  color: #232536;
  padding-bottom: 20px;
}
.left-bold h2{
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -2px;
  color: #232536;
  padding-bottom: 16px;
  }
.left-by p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #4C4C4C;
  padding-bottom: 16px;
}
.left-by span{
  color: #592EA9;
}
.left-text p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6D6E76;
  padding-bottom: 32px;
}
.left-button-link {
  width: 204px;
  height: 56px;
  background: #FFD050;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.left-button-link p{
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #232536;
}
.left-button-link:hover{
  background: #EDC14A;
}
.home-right {
  padding-top: 80px;
  padding-left: 141px;
}
/* HOME */

/* ALL POSTS */

.posts-header {
  width: 1282px;
  height: 96px;
  border-bottom: 1px solid rgba(109, 110, 118, 0.32);
  padding-top: 64px;
  margin: 0 auto;
}
.posts-header h1{
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -2px;
  color: #232536;
  }
.posts-cards {
  width: 1280px;
  height: 1846px;
  margin: 0 auto;
  padding-top: 64px;
}
.card-link {
  text-decoration: none;
}
.card {
  display: flex;
  gap: 32px;
  width: 1146px;
  height: 318px;
  padding-bottom: 64px;
}
.card-right {
  margin: auto 0;
}
.card-header p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3px;
  color: #592EA9;
  padding-bottom: 20px;
}
.card-bold h2{
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -2px;
  color: #232536;
  padding-bottom: 16px;
}
.card-text p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6D6E76;
}
.prev-next {
  display: flex;
  justify-content: center;
  gap: 17px;
  padding-top: 69px;
}
.prev p{
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #6D6E76;
  transition: all 0.2s;
}
.prev p:hover{
  font-size: 28px;
}
.next p{
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -1px;
  color: #232536;
  transition: all 0.2s ease-in;
}
.next p:hover{
  font-size: 28px;
}
.prev-link{
  text-decoration: none;
}
.next-link{
  text-decoration: none;
}
/* ALL POSTS */

/* CATEGORIES */
.categories {
  width: 1280px;
  margin: 0 auto;
  padding-top: 67px;
}
.categories-header h2{
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -2px;
  color: #232536;
  padding-bottom: 48px;
}
.card-flex {
  display: flex;
  gap: 32px;
}
.card-business {
  width: 296px;
  height: 228px;
  border: 1px solid rgba(109, 110, 118, 0.3);
}
.card-icon {
  width: 48px;
  height: 48px;
  background: #FBF6EA;
  border-radius: 20%;
  margin-top: 32px;
  margin-left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-flex-header h3{
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -1px;
  color: #232536;
  padding-top: 16px;
  padding-left: 32px;
}
.card-flex-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6D6E76;
  padding-left: 32px;
}
.card-startup {
  width: 296px;
  height: 228px;
  border: 1px solid rgba(109, 110, 118, 0.3);
}
.card-economy {
  width: 296px;
  height: 228px;
  border: 1px solid rgba(109, 110, 118, 0.3);
}
.card-technology {
  width: 296px;
  height: 228px;
  border: 1px solid rgba(109, 110, 118, 0.3);
}
.card-flex-link{
  text-decoration: none;
}
.card-flex-link:hover{
  background: #FFD050;
  transition: 0.3s ease-in;
}
/* CATEGORIES */

/* JOIN */
.join {
  width: 414px;
  height: 256px;
  padding-top: 128px;
  margin: 0 auto;
  text-align: center;
}
.join-bold h2{
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -2px;
  color: #232536;
  padding-bottom: 16px;
}
.join-lorem p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6D6E76;
  padding-bottom: 32px;
}
.join-button-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.join-button:hover{
  background: #EDC14A;
}
.join-button {
  width: 174px;
  height: 56px;
  background: #FFD050;
  display: flex;
  align-items: center;
  justify-content: center;
}
.join-button p{
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #232536;
}
/* JOIN */

/* FOOTER */
.footer {
  width: 100%;
  height: 560px;
  background: #232536;
  margin-top: 128px;
}
.footer-content {
  width: 1280px;
  height: 445px;
  margin: auto;
}
.footer-header {
  display: flex;
  padding-top: 59px;
}
.footer-nav {
  margin-left: auto;
}
.footer-list {
  display: flex;
  list-style-type: none;
}
.footer-link {
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  padding-left: 24px;
}
.footer-center {
  width: 1280px;
  height: 256px;
  margin-top: 57px;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  align-items: center;
}
.footer-text {
  width: 562px;
  height: 96px;
  padding-left: 64px;
}
.footer-text h2{
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -2px;
  color: #FFFFFF;
}
.footer-email {
  margin-left: auto;
  padding-right: 64px;
}
.footer-input {
  display: flex;
  gap: 24px;
}
.footer-input input{
  width: 323px;
  height: 56px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6D6E76;
  padding-left: 25px;
  background: inherit;
  border: 1px solid #4C4C4C;
}
input::placeholder{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6D6E76;
}
.footer-button-link {
  width: 179px;
  height: 56px;
  background: #FFD050;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.footer-button-link:hover{
  background: #EDC14A;
}
.footer-button p{
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #232536;
}
.footer-bottom {
  display: flex;
}
.footer-info {
  padding-top: 48px;
}
.footer-adres p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  opacity: 0.7;
}
.footer-hello p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  opacity: 0.7;
}
.footer-links {
  display: flex;
  margin-left: auto;
  gap: 27px;
  padding-top: 68px;
}
/* FOOTER */