* {
  margin: 0;
  padding: 0;
}

body{
  box-sizing: border-box;
}

.header {
  display: flex;
  background: #232536;
  width: 100%;
  height: 80px;
}
.header-logo {
  padding-left: 80px;
  margin-top: auto;
  margin-bottom: auto;
}
.nav {
  margin-left: auto;
  margin-right: 32px;
  margin-top: auto;
  margin-bottom: auto;
}
.list {
  display: flex;
  list-style-type: none;
}
.list-li {
  margin-right: 24px;
}
.list-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
}
.header-button {
  width: 179px;
  height: 56px;
  background: #fff;
  margin-right: 80px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-subscribe {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #232536;
  text-decoration: none;
}

/* HOME */
.home {
  width: 100%;
  background: #F4F0F8;
  text-align: center;
}
.content {
  padding-top: 80px;
  padding-bottom: 80px;
}
.home-header h1{
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -2px;
  color: #232536;
}
.home-text p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgba(35, 37, 54, 0.6);
}
/* HOME */

/* POLICY */
.policy {
  width: 768px;
  height: 1032px;
  padding-top: 128px;
  margin: 0 auto; 
}
.policy-header-h1 h1{
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -2px;
  color: #232536;
  padding-bottom: 32px;
}
.policy-text-1 p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #4C4C4C;
  padding-bottom: 32px;
}
.policy-header-h2 h2{
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -2px;
  color: #232536;
  padding-bottom: 24px;
}
.policy-text-2 p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #4C4C4C;
  padding-bottom: 24px;
}
.policy-text-3 p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #4C4C4C;
}
/* POLICY */

/* FOOTER */
.footer {
  width: 100%;
  height: 560px;
  background: #232536;
  margin-top: 128px;
}
.footer-content {
  width: 1280px;
  height: 445px;
  margin: auto;
}
.footer-header {
  display: flex;
  padding-top: 59px;
}
.footer-nav {
  margin-left: auto;
}
.footer-list {
  display: flex;
  list-style-type: none;
}
.footer-link {
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  padding-left: 24px;
}
.footer-center {
  width: 1280px;
  height: 256px;
  margin-top: 57px;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  align-items: center;
}
.footer-text {
  width: 562px;
  height: 96px;
  padding-left: 64px;
}
.footer-text h2{
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -2px;
  color: #FFFFFF;
}
.footer-email {
  margin-left: auto;
  padding-right: 64px;
}
.footer-input {
  display: flex;
  gap: 24px;
}
.footer-input input{
  width: 323px;
  height: 56px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6D6E76;
  padding-left: 25px;
  background: inherit;
  border: 1px solid #4C4C4C;
}
input::placeholder{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6D6E76;
}
.footer-button-link {
  width: 179px;
  height: 56px;
  background: #FFD050;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.footer-button-link:hover{
  background: #EDC14A;
}
.footer-button p{
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #232536;
}
.footer-bottom {
  display: flex;
}
.footer-info {
  padding-top: 48px;
}
.footer-adres p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  opacity: 0.7;
}
.footer-hello p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  opacity: 0.7;
}
.footer-links {
  display: flex;
  margin-left: auto;
  gap: 27px;
  padding-top: 68px;
}

/* FOOTER */